body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #87CEEB;
}

.game-container {
  position: relative;
  width: 600px;
  height: 300px;
  background-color: #7cfc00;
  overflow: hidden;
  border: 2px solid #000;
  margin-top: 50px;
}

#player {
  position: absolute;
  bottom: 0;
  left: 50px;
  width: 50px;
  height: 50px;
  background-color: red;
  border-radius: 10px;
}

#obstacle {
  position: absolute;
  bottom: 0;
  width: 50px;
  height: 50px;
  background-color: black;
  right: -50px;
}

#score {
  margin-top: 20px;
  font-size: 24px;
  font-weight: bold;
}